*{
    margin: 0;
    padding: 0;
    font-family: montserrat-medium, sans-serif;
}
#navbar{
    background-color: rgb(255,255,255);
    margin: auto;
    width: 100%;
    height: 110px;
}
#bars{
    display: none;
}
#top-nav{
    font-weight: -40%;
    color: #5a525e;
    font-size: smaller;
    margin: auto;
    display: flex;
    padding: 8px 0px 8px 0px;
    justify-content: space-between;
    width: 1260px;
    height: fit-content;
    background-color: rgb(238,238,238);
}
#left-nav{
    margin-left: 20px;
    float: left;
    align-content: baseline;
    width: 30%;
    display: flex;
    justify-content: space-around;
}
#right-nav{
    margin-right: 30px;
    float: right;
    width: 15%;
    display: flex;
    justify-content: space-around;
}
#middle-nav{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 1260px;
    height: 52px;
    border-bottom: 0.6px solid #ccc;
}
#M1{
    float: left;
    padding-top: 16px;
    color: rgb(25,25,25);
    width: 30%;
    height: 30px;
    text-align: center;
}
#L1{
    padding-top: 12px;
    width: 147px;
    height: 40px;
    display: inline-block;
}
#search{
    display: flex;
    background-color: rgb(234,234,234);
    border-radius: 10px;
    border: none;
    margin-top: 6px;
}
#icon{
    color: rgb(117,117,117);
    padding: 10px 0px 10px 10px;
}
#R1{
    display: flex;
    justify-content: space-around;
}
#seperator{
    margin: auto;
    padding: 5px 2px 5px 10px;
}
#Login{
    display: flex;
    font-family: montserrat-medium, sans-serif;
}
#left-side{
    width: 60%;
    height: 490px;
    background-image: linear-gradient(0deg, rgb(255, 244, 196), rgb(255, 255, 255));
    background-color: rgb(255,249,224);
}
#left-side h2{
    margin: 30px 0px 40px 30px;
    font-size: 40px;
}
#left-side img{
    margin: auto;
    height: 350px;
    width: 90%;
    display: block;
}
#right-side{
    width: 60%; 
    height: 490px;
}
#altmethod{
    margin-left: 150px;
}
#title{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 60px;
}
#title>h1{
    font-size: 25px;
    margin: 20px 0px 10px 0px;
    color: #333333;
}
#title>p{
    font-size: 20px;
}
#altmethod>div{
    display: flex;
}
#altmethod>div>button{
    height: 40px;
    width: 35%;
    margin: 10px 10px 0px 0px;
    background-color: rgb(255,255,255);
    border: 1px solid #7a7a7a;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: #5c5c5c;
}
#altmethod>button:nth-child(1){
    height: 40px;
    width: 347px;
    background-color: rgb(255,255,255);
    border: 1px solid #7a7a7a;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: #5c5c5c;
}
