*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgb(255,255,255);
    margin: auto;
    width: 100%;
    height: 110px;
    font-family: montserrat-medium,sans-serif;
}
#bars{
    display: none;
}
#top-nav{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 1273px;
    height: fit-content;
    background-color: rgb(238,238,238);
}
#left-nav{
    float: left;
    align-content: baseline;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
#right-nav{
    float: right;
    width: 15%;
    display: flex;
    justify-content: space-around;
}
#middle-nav{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 1273px;
    height: 52px;
    border-bottom: 0.6px solid #fdd835;
}
#M1{
    float: left;
    padding-top: 16px;
    color: rgb(25,25,25);
    width: 30%;
    height: 30px;
    text-align: center;
}
#L1{
    padding-top: 12px;
    width: 147px;
    height: 40px;
    display: inline-block;
}
#search{
    display: flex;
    background-color: rgb(234,234,234);
    border-radius: 10px;
    border: none;
    margin-top: 6px;
}
#icon{
    color: rgb(117,117,117);
    padding: 10px 0px 10px 10px;
}
#R1{
    display: flex;
    justify-content: space-around;
}
#seperator{
    margin: auto;
    padding: 5px 2px 5px 10px;
}
#last-nav{
    height: 59px;
    position: sticky;
    top: 0px;
    margin: auto;
    font-size: large;
    font-weight: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#image{
    margin: auto;
    height: 470px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#Box-items{
    margin: auto;
    width: 100%;
    height: 207%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 58px;
}
#Box-items p{
    font-size: 11px;
    font-family: montserrat-medium,sans-serif;
    font-weight: 700;
    letter-spacing: .05px;
    margin-top: 19px;
    text-align: center;
}
#TRENDING{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}
#category{
    width: 1245px;
    height: 630px;
    margin: auto;
    padding-left: -15px;
    padding-right: -15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#too-hot{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}
#updates{
    justify-content: space-between;
    width: 1265px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
#top{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: x-large;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}
#ACCESSORIES{
    width: 1240px;
    height: 400px;
    margin: auto;
    padding-left: -15px;
    padding-right: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#CATEGORIES{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: x-large;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}
#to-bag{
    width: 1240px;
    height: 300px;
    margin: auto;
    padding-left: -15px;
    padding-right: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#footer{
    padding-top: 20px;
    width: 1180px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    font-family: montserrat-medium,sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
#socialmedia{
    padding: 10px 10px 10px 10px;
    width: 90%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width= 450px) {
    
}